@import "tailwindcss";

:root {
  --background: #020202;
  --foreground: #b4b4b8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Courier New', monospace;
}

::selection {
  background-color: #06b6d4;
  color: #000000;
}
